{% extends 'base.html' %}
{% block block_body %}
<div class="margins2 top center">
	{% if gamePage.image %}
	<div>
		<img class="sideXside-left" src="{{ gamePage.image.url }}"  width="200em"/>
	</div>
	{% endif %}
	<div class="no-overflow">
		<h2>{{gamePage.gameName}}</h2>
		<p><h6>Console: </h6>{{ gamePage.console }}</p>
		<p><h6>Description: </h6><span class="textWrap">{{gamePage.description}}</span></p>
		<p><h6>Condition: </h6>{{gamePage.condition}}</p>
		<p><h6>Price:  </h6>{{gamePage.price}}</p>
		<p><h6>Seller: </h6><a style="color:teal" href="/profiles/{{ gamePage.author.id }}/">{{ gamePage.author.user.first_name }} {{gamePage.author.user.last_name }}</a></p>
		{% if gamePage.author.user == request.user %}
		<form  method="get" action="/posts/editPosts/{{gamePage.id}}/">
			{% csrf_token %}
			<input class="btn btn-warning btnPos1" type="submit" name="Edit" value="Edit" />
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}