{% extends 'base.html' %}
{% block block_body %}	
{% load widget_tweaks %}
<script>
	function updateScroll() {

		var objDiv = document.getElementById("scroll");
		objDiv.scrollTop = objDiv.scrollHeight;
	}
	window.onload = updateScroll;

</script>
<div class="margins2 top center">
	{% if messageList%}
	<div id="scroll" class = "scrollbar">
	{% for message in messageList %}
		{% if message.sender == request.user%}
		<div class = "chat-bubble">
	        <h6 text-align: left;>{{ message.sender.first_name}}  {{message.sender.last_name}}:</h6>
	        {{ message.body }}<br/>
	        <h6>{{ message.created }}</h6>
	    </div>
		{% else %}
		<div>
	        <h6>{{ message.sender.first_name}}  {{message.sender.last_name}}:</h6>
	        {{ message.body }}<br/>
	        <h6>{{ message.created }}</h6>
	    </div>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
   <p>Sending Message to: {{ name }}</p>
   <form id="message_form" method="post" action="">
		{% csrf_token %}
		<p> Message </p>
		<br/>
			{{form.body|add_class:"form-control"}}
		<br/>
	<input type="submit" class="btn btn-primary" name="submit" value="Send" />
	</form>
</div>
{% endblock %}
