{% extends 'base.html' %}
{% block block_body %}
<div class="margins top center container textWrap">
<h1> User Guide </h1>
This website is a game trading website in which the user can either search for video games they want to buy or post the games they want to sell.
<h3> Login </h3>
Here you enter the E-mail you registered with and the password you chose to login to the site so that you make posts and review other people.
<h3> Register </h3>
The register page is where you will make an account to be able to access the site to make posts and reviews.
<h3> Index </h3>
On the index page you will see the posts of other users sorted by the newest first from here you can either access the user's profile page or you can access the game's page
<h3> User's Profile </h3>
On the user's profile page you will be able to see their phone number and email to be able to contact them, and their reviews to see if other users were satisfied with their service
<h3> Game's Profile </h3>
Here you will see information about the game such as it's price, condition, and what the seller has to say about the game.  By clicking on the seller's name you will be ables to access the seller's page and see details about that user.
<h3> Create Post </h3>
Here you can create a post about a game that you wish to sell.

<h1> About the Creator </h1> 
My name is Tarek El-Bohtimy, I just completed my Computing Science undergrad at the University of Alberta and I created Vygit as something to add to my profile and show my skills in css, html, django (python), and javascript.
If you would like to see the code of this website you can find it <a href="https://github.com/telbohtimy/Vygit">here</a>
<a href="https://github.com/telbohtimy">My Github</a>
Also if you are to find any bugs or think other features should be <a href="https://github.com/telbohtimy/Vygit/issues"> please make them here</a>
</div>
{% endblock %}